<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Color Pallete Extracter</title>
    <link rel="stylesheet" href="../static/style.css">
    <script defer src="../static/app.js"></script>
</head>

<body>
    <h1>Color Palette Extractor 🎨</h1>
    <p>Upload an image to extract the top 10 colors (HEX)</p>
    </header>

    <main>
        <form id="upload-form">
            <input type="file" id="image" accept="image/*" required />
            <button type="submit">Extract Colors</button>
        </form>

        <section id="palette" class="palette"></section>
    </main>
</body>

</html>